apiVersion: v1
kind: Secret
metadata:
  name: llm-secrets
  namespace: ns-llm
type: Opaque
stringData:
  DB_PASSWORD: ЗАПОЛНИТЬ_ПРИ_ДЕПЛОЕ
  OPENAI_API_KEY: ЗАПОЛНИТЬ_ПРИ_ДЕПЛОЕ
  OPENROUTER_API_KEY: ЗАПОЛНИТЬ_ПРИ_ДЕПЛОЕ
  TELEGRAM_BOT_TOKEN: ЗАПОЛНИТЬ_ПРИ_ДЕПЛОЕ
